/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Sidebar styles */

.profile-pic {
    width: 50px;
    border-radius: 100%;
    border: 1px solid #eee;
}

.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    height: 120vh;
    width: 250px;
    background: var(--green);
    /*background-color: #12171e;*/
    padding: 0.4rem 0.8rem;
    transition: all 0.5s ease;
}

.sidebar #back-button {
    position: absolute;
    color: #fff;
    top: .4rem;
    left: 90%;
    font-size: 1.2rem;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;

}

.sidebar ~ .main-content{
    left: 210px;
    /* width: calc(100% - 250px); */ /* Adjust as needed */
}

.sidebar .top .logo {
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    pointer-events: none;
}

.user {
    display: flex;
    align-items: center;
    margin: 2rem 0;
}

.user p {
    color: #fff;
    margin-left: 1rem;
}

.bold {
    font-weight: 700;
}

.sidebar ul li {
    position: relative;
    list-style-type: none;
    height: 50px;
    width: 90%;
    margin: 0.8rem auto;
    line-height: 50px;
}

.sidebar ul li a {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 0.8rem;
}

.sidebar ul li a:hover{
    background-color: #fff;
    color: #12171e;
}

.sidebar ul li a i {
    min-width: 50px;
    text-align: center;
    height: 50px;
    border-radius: 12px;
    line-height: 50px;
}

/* Content styles */
.main-content {
    position: relative;
    background-color: var(--backgroundColour);
    min-height: 100vh;
    top: 0;
    left: 80px;
    transition: all 0.5s ease;
    width: calc(100% - 80px);
    padding: 1rem;
}

.centered {
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    height: 100vh;
}

/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');*/
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Oxygen:400,700&display=swap');


:root {
    --backgroundColour: #F5F5DC;
    --green: #559C29;
    --green-d-1: #3b850d;
    --yellow: #FFBD13;
    --blue: #4383FF;
    --blue-d-1: #3278FF;
    --light: #F5F5F5;
    --grey: #AAA;
    --white: #FFF;
    --shadow: 8px 8px 30px rgba(0,0,0,.05);
}

body {
    font-family: 'Nunito', sans-serif;
    background: var(--backgroundColour);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
}

textarea {
    width: 100%;
    background: var(--light);
    padding: 1rem;
    border-radius: .5rem;
    border: none;
    outline: none;
    resize: none;
    margin-bottom: .5rem;
    font-size: 0.8rem;
}

/* Feedback section */

.feedback-wrapper {
    background: var(--white);
    padding: 2rem;
    max-width: 576px;
    width: 100%;
    border-radius: .75rem;
    box-shadow: var(--shadow);
    text-align: center;
}
.feedback-wrapper h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.rating {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: .5rem;
    font-size: 2rem;
    color: var(--yellow);
    margin-bottom: 2rem;
}
.rating .star {
    cursor: pointer;
}
.rating .star.active {
    opacity: 0;
    animation: animate .5s calc(var(--i) * .1s) ease-in-out forwards;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: scale(1);
    }
    50% {
        opacity: 1;
        transform: scale(1.2);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
.rating .star:hover {
    transform: scale(1.1);
}

.feedback-btn-group {
    display: flex;
    grid-gap: .5rem;
    align-items: center;
}
.feedback-btn-group .btn {
    padding: .75rem 1rem;
    border-radius: .5rem;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: .875rem;
    font-weight: 500;
}
.feedback-btn-group .btn.submit {
    background: var(--green);
    color: var(--white);
}
.feedback-btn-group .btn.submit:hover {
    background: var(--green-d-1);
}
.feedback-btn-group .btn.cancel {
    background: var(--white);
    color: var(--green);
}
.feedback-btn-group .btn.cancel:hover {
    background: var(--light);
}

/* Information Request */

input, select {
    width: 50%; 
    padding: 5px; /* Some padding */
    border: none;
    border-radius: 0.3rem;
    font-size: 1rem; 
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
 }

 textarea[name="infor_request"] {
    width:70%;
 }
  