<!DOCTYPE html>
<html>
  <head>
    <title>Feedback</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/feedback/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-3.7.1.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script src="resources/scripts/axure/jquery.nicescroll.min.js"></script>
    <script src="data/document.js"></script>
    <script src="files/feedback/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (Header_Seller) -->

      <!-- Header (Dynamic Panel) -->
      <div id="u1" class="ax_default" data-label="Header">
        <div id="u1_state0" class="panel_state" data-label="State 1" style="">
          <div id="u1_state0_content" class="panel_state_content">

            <!-- Unnamed (Rectangle) -->
            <div id="u2" class="ax_default box_1">
              <div id="u2_div" class=""></div>
              <div id="u2_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u3" class="ax_default label">
              <div id="u3_div" class=""></div>
              <div id="u3_text" class="text ">
                <p><span>Astro Seed</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u4" class="ax_default label">
              <div id="u4_div" class=""></div>
              <div id="u4_text" class="text ">
                <p><span>Home</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u5" class="ax_default label">
              <div id="u5_div" class=""></div>
              <div id="u5_text" class="text ">
                <p><span>About</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u6" class="ax_default label">
              <div id="u6_div" class=""></div>
              <div id="u6_text" class="text ">
                <p><span>Support</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="u0" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (Profile) -->

      <!-- Profile (Dynamic Panel) -->
      <div id="u8" class="ax_default" data-label="Profile">
        <div id="u8_state0" class="panel_state" data-label="State 1" style="">
          <div id="u8_state0_content" class="panel_state_content">

            <!-- Profile Icon (Shape) -->
            <div id="u9" class="ax_default shape" data-label="Profile Icon">
              <img id="u9_img" class="img " src="images/feedback/regen/profile_icon_u9.svg"/>
              <div id="u9_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="u7" style="display:none; visibility:hidden;"></div>

      <!-- Nav Search Input (Group) -->
      <div id="u10" class="ax_default" data-label="Nav Search Input" data-left="801" data-top="12" data-width="300" data-height="36" layer-opacity="1">

        <!-- Text Input (Text Field) -->
        <div id="u11" class="ax_default text_field1" data-label="Text Input">
          <div id="u11_div" class=""></div>
          <input id="u11_input" type="text" value="" class="u11_input"/>
        </div>

        <!-- Search Icon (Shape) -->
        <div id="u12" class="ax_default icon" data-label="Search Icon">
          <img id="u12_img" class="img " src="images/feedback/regen/search_icon_u12.svg"/>
          <div id="u12_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Clear (Shape) -->
        <div id="u13" class="ax_default shape ax_default_hidden" data-label="Clear" style="display:none; visibility: hidden">
          <img id="u13_img" class="img " src="images/feedback/regen/clear_u13.svg"/>
          <div id="u13_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Side Pane (Dynamic Panel) -->
      <div id="u14" class="ax_default" data-label="Side Pane">
        <div id="u14_state0" class="panel_state" data-label="State 1" style="">
          <div id="u14_state0_content" class="panel_state_content">

            <!-- Unnamed (Rectangle) -->
            <div id="u15" class="ax_default">
              <div id="u15_div" class=""></div>
              <div id="u15_text" class="text ">
                <p><span>Feedback</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u16" class="ax_default">
              <div id="u16_div" class=""></div>
              <div id="u16_text" class="text ">
                <p><span>Info Request</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u17" class="ax_default">
              <div id="u17_div" class=""></div>
              <div id="u17_text" class="text ">
                <p><span>FAQs</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u18" class="ax_default">
              <div id="u18_div" class=""></div>
              <div id="u18_text" class="text ">
                <p><span>&nbsp;&nbsp;&nbsp; Farmers</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u19" class="ax_default">
              <div id="u19_div" class=""></div>
              <div id="u19_text" class="text ">
                <p><span>&nbsp;&nbsp;&nbsp; Customers</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Main Body (Dynamic Panel) -->
      <div id="u20" class="ax_default" data-label="Main Body">
        <div id="u20_state0" class="panel_state" data-label="Feed Back" style="">
          <div id="u20_state0_content" class="panel_state_content">

            <!-- Unnamed (Rectangle) -->
            <div id="u21" class="ax_default box_1">
              <div id="u21_div" class=""></div>
              <div id="u21_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u22" class="ax_default label">
              <div id="u22_div" class=""></div>
              <div id="u22_text" class="text ">
                <p><span>We Value Your Feedback!</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u23" class="ax_default label1">
              <div id="u23_div" class=""></div>
              <div id="u23_text" class="text ">
                <p><span>How is your overall experience with Astro Seed application?</span></p>
              </div>
            </div>

            <!-- Text Area & Character Count (Group) -->
            <div id="u24" class="ax_default" data-label="Text Area &amp; Character Count" data-left="95" data-top="369" data-width="368" data-height="135" layer-opacity="1">

              <!-- Text Area (Text Area) -->
              <div id="u25" class="ax_default text_area" data-label="Text Area">
                <div id="u25_div" class=""></div>
                <textarea id="u25_input" class="u25_input"></textarea>
              </div>

              <!-- Character Counter (Rectangle) -->
              <div id="u26" class="ax_default label1" data-label="Character Counter">
                <div id="u26_div" class=""></div>
                <div id="u26_text" class="text ">
                  <p><span>0 / 200</span></p>
                </div>
              </div>

              <!-- Unnamed (Rectangle) -->
              <div id="u27" class="ax_default label1">
                <div id="u27_div" class=""></div>
                <div id="u27_text" class="text ">
                  <p><span>More Information</span></p>
                </div>
              </div>
            </div>

            <!-- Recommend Question (Group) -->
            <div id="u28" class="ax_default" data-label="Recommend Question" data-left="95" data-top="229" data-width="482" data-height="87" layer-opacity="1">

              <!-- Unnamed (Rectangle) -->
              <div id="u29" class="ax_default label1">
                <div id="u29_div" class=""></div>
                <div id="u29_text" class="text ">
                  <p><span>How likely are you to recommend us to your friends and colleagues?</span></p>
                </div>
              </div>

              <!-- Unnamed (Ellipse) -->
              <div id="u30" class="ax_default ellipse" selectiongroup="recommend group">
                <img id="u30_img" class="img " src="images/feedback/regen/u30.svg"/>
                <div id="u30_text" class="text ">
                  <p><span>1</span></p>
                </div>
              </div>

              <!-- Unnamed (Ellipse) -->
              <div id="u31" class="ax_default ellipse" selectiongroup="recommend group">
                <img id="u31_img" class="img " src="images/feedback/regen/u30.svg"/>
                <div id="u31_text" class="text ">
                  <p><span>2</span></p>
                </div>
              </div>

              <!-- Unnamed (Ellipse) -->
              <div id="u32" class="ax_default ellipse" selectiongroup="recommend group">
                <img id="u32_img" class="img " src="images/feedback/regen/u30.svg"/>
                <div id="u32_text" class="text ">
                  <p><span>3</span></p>
                </div>
              </div>

              <!-- Unnamed (Ellipse) -->
              <div id="u33" class="ax_default ellipse" selectiongroup="recommend group">
                <img id="u33_img" class="img " src="images/feedback/regen/u30.svg"/>
                <div id="u33_text" class="text ">
                  <p><span>4</span></p>
                </div>
              </div>

              <!-- Unnamed (Ellipse) -->
              <div id="u34" class="ax_default ellipse" selectiongroup="recommend group">
                <img id="u34_img" class="img " src="images/feedback/regen/u30.svg"/>
                <div id="u34_text" class="text ">
                  <p><span>5</span></p>
                </div>
              </div>

              <!-- Unnamed (Ellipse) -->
              <div id="u35" class="ax_default ellipse" selectiongroup="recommend group">
                <img id="u35_img" class="img " src="images/feedback/regen/u30.svg"/>
                <div id="u35_text" class="text ">
                  <p><span>6</span></p>
                </div>
              </div>

              <!-- Unnamed (Ellipse) -->
              <div id="u36" class="ax_default ellipse" selectiongroup="recommend group">
                <img id="u36_img" class="img " src="images/feedback/regen/u30.svg"/>
                <div id="u36_text" class="text ">
                  <p><span>7</span></p>
                </div>
              </div>

              <!-- Unnamed (Ellipse) -->
              <div id="u37" class="ax_default ellipse" selectiongroup="recommend group">
                <img id="u37_img" class="img " src="images/feedback/regen/u30.svg"/>
                <div id="u37_text" class="text ">
                  <p><span>8</span></p>
                </div>
              </div>

              <!-- Unnamed (Ellipse) -->
              <div id="u38" class="ax_default ellipse" selectiongroup="recommend group">
                <img id="u38_img" class="img " src="images/feedback/regen/u30.svg"/>
                <div id="u38_text" class="text ">
                  <p><span>9</span></p>
                </div>
              </div>

              <!-- Unnamed (Ellipse) -->
              <div id="u39" class="ax_default ellipse" selectiongroup="recommend group">
                <img id="u39_img" class="img " src="images/feedback/regen/u30.svg"/>
                <div id="u39_text" class="text ">
                  <p><span>10</span></p>
                </div>
              </div>

              <!-- Unnamed (Rectangle) -->
              <div id="u40" class="ax_default label1">
                <div id="u40_div" class=""></div>
                <div id="u40_text" class="text ">
                  <p><span>Not very likely</span></p>
                </div>
              </div>

              <!-- Unnamed (Rectangle) -->
              <div id="u41" class="ax_default label1">
                <div id="u41_div" class=""></div>
                <div id="u41_text" class="text ">
                  <p><span>Very Likely</span></p>
                </div>
              </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u42" class="ax_default icon" selectiongroup="Overall Experience">
              <img id="u42_img" class="img " src="images/feedback/regen/u42.svg"/>
              <div id="u42_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u43" class="ax_default icon" selectiongroup="Overall Experience">
              <img id="u43_img" class="img " src="images/feedback/regen/u43.svg"/>
              <div id="u43_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u44" class="ax_default icon" selectiongroup="Overall Experience">
              <img id="u44_img" class="img " src="images/feedback/regen/u44.svg"/>
              <div id="u44_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u45" class="ax_default primary_button">
              <div id="u45_div" class=""></div>
              <div id="u45_text" class="text ">
                <p><span>SUBMIT</span></p>
              </div>
            </div>
          </div>
        </div>
        <div id="u20_state1" class="panel_state" data-label="Request Info" style="visibility: hidden;">
          <div id="u20_state1_content" class="panel_state_content">

            <!-- Unnamed (Rectangle) -->
            <div id="u46" class="ax_default box_1">
              <div id="u46_div" class=""></div>
              <div id="u46_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Product Feedback Form (Group) -->
            <div id="u47" class="ax_default" data-label="Product Feedback Form" data-left="0" data-top="119" data-width="763" data-height="465" layer-opacity="1">

              <!-- Unnamed (Rectangle) -->
              <div id="u48" class="ax_default label1">
                <div id="u48_div" class=""></div>
                <div id="u48_text" class="text ">
                  <p><span>Please select a subject</span></p>
                </div>
              </div>

              <!-- Subject Droplist (Droplist) -->
              <div id="u49" class="ax_default text_field1" data-label="Subject Droplist">
                <div id="u49_div" class=""></div>
                <select id="u49_input" class="u49_input">
                  <option class="u49_input_option" value="Suggestion">Suggestion</option>
                  <option class="u49_input_option" value="Compliment ">Compliment </option>
                  <option class="u49_input_option" value="Something's broken">Something's broken</option>
                  <option class="u49_input_option" value="I have a question">I have a question</option>
                </select>
              </div>

              <!-- Unnamed (Rectangle) -->
              <div id="u50" class="ax_default label1">
                <div id="u50_div" class=""></div>
                <div id="u50_text" class="text ">
                  <p><span>What would you like to share with us? </span></p>
                </div>
              </div>

              <!-- Message Input (Text Area) -->
              <div id="u51" class="ax_default text_field1" data-label="Message Input">
                <div id="u51_div" class=""></div>
                <textarea id="u51_input" class="u51_input"></textarea>
              </div>

              <!-- Unnamed (Rectangle) -->
              <div id="u52" class="ax_default label1">
                <div id="u52_div" class=""></div>
                <div id="u52_text" class="text ">
                  <p><span>Email Address</span></p>
                </div>
              </div>

              <!-- Email Address Input (Text Field) -->
              <div id="u53" class="ax_default text_field1" data-label="Email Address Input">
                <div id="u53_div" class=""></div>
                <input id="u53_input" type="text" value="" class="u53_input"/>
              </div>

              <!-- Unnamed (Rectangle) -->
              <div id="u54" class="ax_default primary_button">
                <div id="u54_div" class=""></div>
                <div id="u54_text" class="text ">
                  <p><span>SUBMIT</span></p>
                </div>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u55" class="ax_default label">
              <div id="u55_div" class=""></div>
              <div id="u55_text" class="text ">
                <p><span>Request Information</span></p>
              </div>
            </div>
          </div>
        </div>
        <div id="u20_state2" class="panel_state" data-label="FAQ" style="visibility: hidden;">
          <div id="u20_state2_content" class="panel_state_content">

            <!-- Unnamed (Rectangle) -->
            <div id="u56" class="ax_default box_1">
              <div id="u56_div" class=""></div>
              <div id="u56_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Search Input (Group) -->
            <div id="u57" class="ax_default" data-label="Search Input" data-left="200" data-top="86" data-width="363" data-height="48" layer-opacity="1">

              <!-- Text Input (Text Field) -->
              <div id="u58" class="ax_default text_field1" data-label="Text Input">
                <div id="u58_div" class=""></div>
                <input id="u58_input" type="text" value="" class="u58_input"/>
              </div>

              <!-- Search Icon (Shape) -->
              <div id="u59" class="ax_default icon" data-label="Search Icon">
                <img id="u59_img" class="img " src="images/feedback/regen/search_icon_u12.svg"/>
                <div id="u59_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Clear (Shape) -->
              <div id="u60" class="ax_default shape ax_default_hidden" data-label="Clear" style="display:none; visibility: hidden">
                <img id="u60_img" class="img " src="images/feedback/regen/clear_u13.svg"/>
                <div id="u60_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u61" class="ax_default label">
              <div id="u61_div" class=""></div>
              <div id="u61_text" class="text ">
                <p><span>Help Center</span></p>
              </div>
            </div>

            <!-- Customers QA (Group) -->
            <div id="u62" class="ax_default ax_default_hidden" data-label="Customers QA" style="display:none; visibility: hidden" data-left="0" data-top="192" data-width="679" data-height="376" layer-opacity="1">

              <!-- Question and Answer (Group) -->
              <div id="u63" class="ax_default" data-label="Question and Answer" data-left="0" data-top="192" data-width="679" data-height="76" layer-opacity="1">

                <!-- Unnamed (Rectangle) -->
                <div id="u64" class="ax_default label">
                  <div id="u64_div" class=""></div>
                  <div id="u64_text" class="text ">
                    <p><span>Are the products sold organic?</span></p>
                  </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u65" class="ax_default paragraph">
                  <div id="u65_div" class=""></div>
                  <div id="u65_text" class="text ">
                    <p><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra ju</span></p>
                  </div>
                </div>
              </div>

              <!-- Question and Answer (Group) -->
              <div id="u66" class="ax_default" data-label="Question and Answer" data-left="0" data-top="292" data-width="679" data-height="76" layer-opacity="1">

                <!-- Unnamed (Rectangle) -->
                <div id="u67" class="ax_default label">
                  <div id="u67_div" class=""></div>
                  <div id="u67_text" class="text ">
                    <p><span>How is the freshness of the product ensured during delivery?</span></p>
                  </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u68" class="ax_default paragraph">
                  <div id="u68_div" class=""></div>
                  <div id="u68_text" class="text ">
                    <p><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra ju</span></p>
                  </div>
                </div>
              </div>

              <!-- Question and Answer (Group) -->
              <div id="u69" class="ax_default" data-label="Question and Answer" data-left="0" data-top="392" data-width="679" data-height="76" layer-opacity="1">

                <!-- Unnamed (Rectangle) -->
                <div id="u70" class="ax_default label">
                  <div id="u70_div" class=""></div>
                  <div id="u70_text" class="text ">
                    <p><span>What are the accepted method of payments?</span></p>
                  </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u71" class="ax_default paragraph">
                  <div id="u71_div" class=""></div>
                  <div id="u71_text" class="text ">
                    <p><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoret viverr juLorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. </span></p>
                  </div>
                </div>
              </div>

              <!-- Question and Answer (Group) -->
              <div id="u72" class="ax_default" data-label="Question and Answer" data-left="0" data-top="492" data-width="679" data-height="76" layer-opacity="1">

                <!-- Unnamed (Rectangle) -->
                <div id="u73" class="ax_default label">
                  <div id="u73_div" class=""></div>
                  <div id="u73_text" class="text ">
                    <p><span>Can I request specific delivery time?</span></p>
                  </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u74" class="ax_default paragraph">
                  <div id="u74_div" class=""></div>
                  <div id="u74_text" class="text ">
                    <p><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra ju</span></p>
                  </div>
                </div>
              </div>
            </div>

            <!-- Farmers QA (Group) -->
            <div id="u75" class="ax_default ax_default_hidden" data-label="Farmers QA" style="display:none; visibility: hidden" data-left="0" data-top="192" data-width="756" data-height="376" layer-opacity="1">

              <!-- Question and Answer (Group) -->
              <div id="u76" class="ax_default" data-label="Question and Answer" data-left="0" data-top="192" data-width="694" data-height="76" layer-opacity="1">

                <!-- Unnamed (Rectangle) -->
                <div id="u77" class="ax_default label">
                  <div id="u77_div" class=""></div>
                  <div id="u77_text" class="text ">
                    <p><span>How can I track the performance of my sales and monitor customer feedback?</span></p>
                  </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u78" class="ax_default paragraph">
                  <div id="u78_div" class=""></div>
                  <div id="u78_text" class="text ">
                    <p><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra ju</span></p>
                  </div>
                </div>
              </div>

              <!-- Question and Answer (Group) -->
              <div id="u79" class="ax_default" data-label="Question and Answer" data-left="0" data-top="292" data-width="756" data-height="76" layer-opacity="1">

                <!-- Unnamed (Rectangle) -->
                <div id="u80" class="ax_default label">
                  <div id="u80_div" class=""></div>
                  <div id="u80_text" class="text ">
                    <p><span>Are there any tools or resources available to help me market my products effectively?</span></p>
                  </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u81" class="ax_default paragraph">
                  <div id="u81_div" class=""></div>
                  <div id="u81_text" class="text ">
                    <p><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra ju</span></p>
                  </div>
                </div>
              </div>

              <!-- Question and Answer (Group) -->
              <div id="u82" class="ax_default" data-label="Question and Answer" data-left="0" data-top="392" data-width="679" data-height="76" layer-opacity="1">

                <!-- Unnamed (Rectangle) -->
                <div id="u83" class="ax_default label">
                  <div id="u83_div" class=""></div>
                  <div id="u83_text" class="text ">
                    <p><span>Are there specific guidelines I need to follow?</span></p>
                  </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u84" class="ax_default paragraph">
                  <div id="u84_div" class=""></div>
                  <div id="u84_text" class="text ">
                    <p><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoret viverr juLorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. </span></p>
                  </div>
                </div>
              </div>

              <!-- Question and Answer (Group) -->
              <div id="u85" class="ax_default" data-label="Question and Answer" data-left="0" data-top="492" data-width="679" data-height="76" layer-opacity="1">

                <!-- Unnamed (Rectangle) -->
                <div id="u86" class="ax_default label">
                  <div id="u86_div" class=""></div>
                  <div id="u86_text" class="text ">
                    <p><span>How and when do I receive payments for my sale</span></p>
                  </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u87" class="ax_default paragraph">
                  <div id="u87_div" class=""></div>
                  <div id="u87_text" class="text ">
                    <p><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra ju</span></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="resources/scripts/axure/ios.js"></script>
  </body>
</html>
